# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Nicolas Fella <nicolas.fella@gmx.de>
[Desktop Entry]
Name=Vakzination
Name[ca]=Vakzination
Name[ca@valencia]=Vakzination
Name[cs]=Vakzination
Name[de]=Vakzination
Name[el]=Vakzination
Name[en_GB]=Vakzination
Name[eo]=Vakzination
Name[es]=Vakzination
Name[eu]=Vakzination
Name[fr]=Vakzination
Name[gl]=Vakzination
Name[hu]=Vakzination
Name[it]=Vakzination
Name[ka]=Vakzination
Name[ko]=Vakzination
Name[nl]=Vakzination
Name[pa]=ਵੇਕਜ਼ੀਨੇਸ਼ਨ
Name[pl]=Vakzination
Name[pt]=Vakzination
Name[pt_BR]=Vakzination
Name[ro]=Vakzination
Name[sk]=Vakzination
Name[sl]=Vakzination
Name[sv]=Vakzination
Name[tr]=Aşıcı
Name[uk]=Vakzination
Name[x-test]=xxVakzinationxx
Name[zh_CN]=Vakzination
Name[zh_TW]=Vakzination
Comment=Vaccination Certificate Manager
Comment[ca]=Obre el gestor de certificats de vaccinació
Comment[ca@valencia]=Obri el gestor de certificats de vaccinació
Comment[cs]=Správce certifikátů očkování
Comment[de]=Verwaltung von Impfzertifikaten
Comment[el]=Διαχειριστής πιστοποιητικού εμβολιασμού
Comment[en_GB]=Vaccination Certificate Manager
Comment[eo]=Administrilo por Vakcinad-Atestoj
Comment[es]=Gestor de certificados de vacunación
Comment[eu]=Txertaketa-ziurtagiriaren kudeatzailea
Comment[fr]=Gestionnaire de certificats de vaccination
Comment[gl]=Xestor de certificados de vacinación.
Comment[hu]=Oltási igazolás-kezelő
Comment[it]=Gestore dei certificati di vaccinazione
Comment[ka]=ვაქცინაციის სერტფიკატების მმართველი
Comment[ko]=예방 접종 증명서 관리자
Comment[nl]=Beheer van vaccinatiecertificaten
Comment[pa]=ਟੀਕਾਕਰਨ ਸਰਟੀਫਿਕੇਟ ਮੈਨੇਜਰ
Comment[pl]=Zarządzanie certyfikatami szczepień
Comment[pt]=Gestor de Certificados de Vacinação
Comment[pt_BR]=Gerenciador de certificados de vacinação
Comment[ro]=Gestionar pentru certificate de vaccinare
Comment[sk]=Správca certifikátov vakcinácie
Comment[sl]=Upravljalnik potrdil o cepljenjih
Comment[sv]=Hantering av vaccinationsbevis
Comment[tr]=Aşı Sertifikası Yöneticisi
Comment[uk]=Керування сертифікатами вакцинації
Comment[x-test]=xxVaccination Certificate Managerxx
Comment[zh_CN]=Vaccination 健康证书管理器
Comment[zh_TW]=疫苗憑證管理工具
Exec=vakzination %F
Icon=applications-development
Type=Application
Categories=Qt;KDE;Utility;
MimeType=application/pdf;application/vnd.apple.pkpass;
X-KDE-HasTempFileOption=true
X-KDE-FormFactor=desktop;tablet;handset;
