# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Nicolas Fella <nicolas.fella@gmx.de>
[Desktop Entry]
Name=Vakzination
Name[ca]=Vakzination
Name[ca@valencia]=Vakzination
Name[cs]=Vakzination
Name[de]=Vakzination
Name[el]=Vakzination
Name[en_GB]=Vakzination
Name[es]=Vakzination
Name[fr]=Vakzination
Name[it]=Vakzination
Name[ko]=Vakzination
Name[nl]=Vakzination
Name[pl]=Vakzination
Name[pt]=Vakzination
Name[pt_BR]=Vakzination
Name[sk]=Vakzination
Name[sl]=Vakzination
Name[sv]=Vakzination
Name[uk]=Vakzination
Name[x-test]=xxVakzinationxx
Comment=Vaccination Certificate Manager
Comment[ca]=Obre el gestor de certificats de vaccinació
Comment[ca@valencia]=Obri el gestor de certificats de vaccinació
Comment[cs]=Správce certifikátů očkování
Comment[de]=Verwaltung von Impfzertifikaten
Comment[el]=Διαχειριστής πιστοποιητικού εμβολιασμού
Comment[en_GB]=Vaccination Certificate Manager
Comment[es]=Gestor de certificados de vacunación
Comment[fr]=Gestionnaire de certificats de vaccination
Comment[it]=Gestore dei certificati di vaccinazione
Comment[ko]=예방 접종 증명서 관리자
Comment[nl]=Beheer van vaccinatiecertificaten
Comment[pl]=Zarządzanie certyfikatami szczepień
Comment[pt]=Gestor de Certificados de Vacinação
Comment[pt_BR]=Gerenciador de certificados de vacinação
Comment[sk]=Správca certifikátov vakcinácie
Comment[sl]=Upravljalnik potrdil o cepljenjih
Comment[sv]=Hantering av vaccinationsbevis
Comment[uk]=Керування сертифікатами вакцинації
Comment[x-test]=xxVaccination Certificate Managerxx
Exec=vakzination %F
Icon=applications-development
Type=Application
Categories=Qt;KDE;Utility;
X-KDE-HasTempFileOption=true
X-KDE-FormFactor=desktop;tablet;handset;
